.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 700px;
    background: var(--color-white);
    border-radius: 24px 24px 0px 0px;
  }
  
  .header .header-image {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  
  .header .header-image img {
    width: inherit;
    height: 100%;
    object-fit: cover;
  }
  
  .header .header-content {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0;
  }
  
  .header .header-content .header-content-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .header-title {
    padding: 0px;
    width: 100%;
  }
  
  .header-title h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: var(--color-secondary);
    padding: 16px 0;
  }
  
  .header-iconbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 100%;
    justify-content: center;
  }
  
  .header-iconbar .icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 4px;
    width: 48px;
    height: 48px;
  }
  
  .header-iconbar .icon i {
    color: var(--color-primary);
    font-size: 24px;
    transition: all 1s;
  }
  .header-iconbar .icon i:hover{
    color: var(--color-secondary);
  }
  
  .header-subtitle {
    padding: 0px;
    width: 100%;
  }
  
  .header-subtitle p {
    padding: 16px 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
  
    text-align: center;
  
    color: var(--colr-grey89);
  }
  
  .header-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 50%;
    height: 100%;
  }
  
  .header-text p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    padding: 16px 48px;
    color: var(--colr-grey89);
  }
  
  .header-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 100%;
  }
  
  .header-input button {
    padding: 8px 32px;
  
    height: 45px;
  
    background: var(--color-primary);
    border-radius: 24px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-white);
  }
  
  .header-input input {
    width: 100%;
    height: 44px;
    border: 1px solid var(--colr-grey89);
    box-sizing: border-box;
    border-radius: 24px;
    margin-right: 16px;
  }